<div class="w-full h-auto bg-bg-secondary relative">
  <!-- arrow slider controls -->
  <div class="w-auto h-full flex place-items-center absolute left-0 top-0 p-2 z-10 banner-arrow cursor-pointer sm:hidden">
    {% render 'arrow-left' %}
  </div>
  <div class="w-auto h-full flex place-items-center absolute right-0 top-0 p-2 z-10 banner-arrow cursor-pointer sm:hidden">
    {% render 'arrow-right' %}
  </div>
  <!-- container banner icons -->
  <div class="container mx-auto">
    <div class="w-full h-auto p-4 sm:p-6 md:p-8 lg:p-10">
      <div class="w-full h-auto overflow-hidden sm:overflow-auto flex flex-row sm:gap-x-4 banner-container">

        <div class="w-full min-w-full sm:min-w-0 flex sm:flex-1 h-200 items-center justify-center flex-col  gap-y-4 banner-img-container">
          <img
            class="h-10 w-10 object-contain object-center"
            src="https://cdn.shopify.com/s/files/1/0601/3960/2008/files/icon_banner03.svg?v=1721306479"
            alt="">
          <h4 class="font-bold">Year founded</h4>
          <p>{{ section.settings.year }}</p>
        </div>

        <div class=" w-full min-w-full  sm:min-w-0 flex sm:flex-1 h-200 items-center justify-center flex-col  gap-y-4 banner-img-container">
          <img
            class="h-10 w-10 object-contain object-center"
            src="https://cdn.shopify.com/s/files/1/0601/3960/2008/files/icon_banner02.svg?v=1721306479"
            alt="">
          <h4 class="font-bold">{{ section.settings.loaction }}</h4>
          <p>{{ section.settings.loaction_sub }}</p>
        </div>

        <div class=" w-full min-w-full  sm:min-w-0  flex sm:flex-1 h-200 items-center justify-center flex-col  gap-y-4 banner-img-container">
          <img
            class="h-10 w-10 object-contain object-center"
            src="https://cdn.shopify.com/s/files/1/0601/3960/2008/files/icon_banner01.svg?v=1721306479"
            alt="">
          <h4 class="font-bold">Employers</h4>
          <p>{{ section.settings.employers }}</p>
        </div>

        <div class=" w-full min-w-full  sm:min-w-0 flex sm:flex-1 h-200 items-center justify-center flex-col  gap-y-4 banner-img-container">
          <img
            class="h-10 w-10 object-contain object-center"
            src="https://cdn.shopify.com/s/files/1/0601/3960/2008/files/icon_banner.svg?v=1721306479"
            alt="">
          <h4 class="font-bold">Operation Category</h4>
          <p>{{ section.settings.category }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Dichiarazione degli elementi
  const bannerContainers = document.querySelectorAll('.banner-img-container');
  const arrowsBanner = document.querySelectorAll('.banner-arrow');
  const bannerLength = bannerContainers.length;
  let currentXpos = 0;
  
  // Imposta la funzione basata sulla freccia
  arrowsBanner.forEach((arrow, index) => {
    arrow.addEventListener('click', () => {
        if (index % 2 === 0) { 
            if (currentXpos > -(bannerLength - 1) * 100) { 
                currentXpos -= 100;
                bannerContainers.forEach((banner) => {
                    banner.style.transition = 'all .2s ease';
                    banner.style.transform = `translateX(${currentXpos}%)`;
                });
            }
        } else { // Frecce con indice dispari (destra)
            if (currentXpos < 0) { // Previene di andare a destra oltre la prima immagine
                currentXpos += 100;
                bannerContainers.forEach((banner) => {
                    banner.style.transition = 'all .2s ease';
                    banner.style.transform = `translateX(${currentXpos}%)`;
                });
            }
        }
    });
  });
</script>

{% schema %}
  {
    "name": "banner",
    "class": "margin-section",
    "settings": [
      {
        "type": "text",
        "id": "year",
        "label": "company year",
        "default": "2012",
        "info": "Inserisci l'anno di fondazione."
      },
      {
        "type": "text",
        "id": "loaction",
        "label": "company location",
        "default": "Ruma",
        "info": "Inserisci la location."
      },
      {
        "type": "text",
        "id": "loaction_sub",
        "label": "company location sub",
        "default": "Serbia",
        "info": "Inserisci la location sub."
      },
      {
        "type": "text",
        "id": "employers",
        "label": "company employers numbers",
        "default": "Serbia",
        "info": "Inserisci il numero di impiegati."
      }, {
        "type": "text",
        "id": "category",
        "label": "company operation cat",
        "default": "Beachwear",
        "info": "Inserisci la cat di prodotto"
      }
    ]
  }
{% endschema %}