<div class="w-full h-auto p-8 flex flex-col gap-y-12">

  <div class="w-full h-auto flex justify-start items-start">
    <h2 class="text-5xl">{{ section.settings.section_heading }}</h2>
  </div>

  <div class="flex flex-col gap-x-8">

    <div class="w-1/2 flex flex-col justify-start items-start gap-y-4">
      <div class="w-auto h-auto px-8 py-4 flex flex-col justify-start items-start" style="background-color: #A89A8C;">
        <h3 class="text-3xl text-white font-bold">{{ section.settings.column_heading_first }}</h3>
      </div>
      <p class="text-base">{{ section.settings.column_text_first }}</p>
    </div>

    <div class="w-1/2 flex flex-col justify-start items-start gap-y-4">
      <div class="w-auto h-auto px-8 py-4 flex flex-col justify-start items-start" style="background-color: #A89A8C;">
        <h3 class="text-3xl  text-white font-bold">{{ section.settings.column_heading_second }}</h3>
      </div>
      <p class="text-base">{{ section.settings.column_text_second }}</p>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "featured-column",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Titolo sezione",
        "default": "Company",
        "info": "Inserisci qui il titolo della sezione"
      },
      {

        "type": "text",
        "id": "column_heading_first",
        "label": "Titolo colonna",
        "default": "About Us",
        "info": "Inserisci qui il titolo della colonna"
      },
      {
        "type": "text",
        "id": "column_heading_second",
        "label": "Titolo colonna",
        "default": "Our People",
        "info": "Inserisci qui il titolo della colonna"
      },
      {
        "type": "textarea",
        "id": "column_text_first",
        "label": "Testo colonna",
        "default": "Founded in 2012 in Ruma, in the autonomous province of Vojvodina, Adriana.tex has been operating at full capacity since 2015, primarily producing swimwear. The well-organized structure allows for the creation of jobs for local people and efficiency in production and waste management activities.",
        "info": "Inserisci qui il testo della colonna"
      }, {
        "type": "textarea",
        "id": "column_text_second",
        "label": "Testo colonna",
        "default": "For employees, daily transportation to and from the facility is organized and provided free of charge by the company. Additionally, the factory operates on a single work shift, with the workday ending at 2 PM, allowing employees to have free time for themselves and their families. Thanks to the services offered and effective organization, Adriana.tex has been recognized as a reliable employer by the Srem District (the area where the company is located).",
        "info": "Inserisci qui il testo della colonna"
      }

    ]
  }
{% endschema %}