<div class="w-screen h-screen relative">

  <div class="w-full h-full absolute left-0 top-0 right-0 bottom-0 z-0 brightness-75">
    <img
      class="w-full h-full object-cover"
      src="{{ section.settings.hero_background | img_url: 'master' }}"
      alt="{{ section.settings.hero_background.alt | escape }}">
  </div>

  <div class="w-full h-full  absolute left-0 top-0 right-0 bottom-0 z-10 flex items-end justify-start p-8">

    <div class="flex flex-row w-full h-auto">
      <div class="text-white flex-1">
        <h1 class="text-4xl sm:text-5xl md:text-6xl leading-relaxed">{{ section.settings.hero_heading }}</h1>
        <p class="text-base leading-relaxed">{{ section.settings.hero_subheading }}</p>
      </div>
      <div class="flex items-end justify-center sm:items-center">
        <img
          class="object-contain w-16 h-16 sm:w-40 sm:h-40"
          src="{{ section.settings.hero_banner_logo| img_url: 'master' }}"
          alt="{{ section.settings.hero_banner_logo.alt | escape }}">
      </div>
    </div>
    
  </div>

</div>

{% schema %}
  {
    "name": "hero-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_background",
        "label": "Sfondo Hero",
        "info": "Seleziona un'immagine per lo sfondo dell'hero."
      }, {
        "type": "text",
        "id": "hero_heading",
        "label": "Titolo Hero",
        "default": "Adriana.tex d.o.o",
        "info": "Inserisci il titolo principale per l'hero."
      }, {
        "type": "text",
        "id": "hero_subheading",
        "label": "Sottotitolo Hero",
        "default": "Ruma, Serbia",
        "info": "Inserisci un breve sottotitolo per l'hero."
      }, {
        "type": "image_picker",
        "id": "hero_banner_logo",
        "label": "Hero Banner Logo",
        "info": "Logo per l'hero."
      }
    ]
  }
{% endschema %}